.projects{
    width: 100%;
    height: 100vh;
    background: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 2rem;
}

