html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --fondo:#1A1A2E;
    --letra: #03C988;
    --botones: #0F3460;
    --blanco:white;
}

@media  screen and (min-width: 768px)and (max-width:1023px) {
    html{
        font-size: 14px;
    }
}

@media screen and (max-width:767px) {
    html{font-size: 13px; }  
}